<ion-view title="Contact" >

    <!--<ion-nav-bar class="header ui-header ui-bar-none" align-title="center" >
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <a href="#" class="logout-icon ui-link button" ng-click="logout()"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-header-bar class="header ui-header ui-bar-none" align-title="center" >
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <a href="#" class="logout-icon ui-link button"></a>
        </ion-nav-buttons>
    </ion-header-bar>-->
    
    <ion-content class="ion-content-contact" padding="false">
        <div data-role="page" id="contact" class="thankyou page-background ui-page ui-page-theme-a ui-page-active" data-url="contact" tabindex="0" >
            <div role="main">
                <div class="ui-body homebody">
                    <p> <span>If you have any questions or need assistance, please contact your Account Manager</span></p>
                    <p>Account Manager: <a href="mailto:account_manager@testmsp.com" class="ui-link">Cornell Walker</a><br>
                        Email: <a href="mailto:account_manager@testmsp.com" class="ui-link">account_manager@testmsp.com</a><br>
                    Phone: <a href="tel:888-555-1212" class="ui-link">888-555-1212</a> </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>